<footer class="index-footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; LOOPEAR SOFTWARE - Laravel 5.1</small><br><br>
            <a href="https://twitter.com/loopear" class="btn btn-xs btn-circle btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/loopear" class="btn btn-xs btn-circle btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/115045228464588486683/about" class="btn btn-xs btn-circle btn-gplus" target="_blank"><i class="fa fa-google-plus"></i></a>
        <div>{{name}}</div>
        </p>
    </div>
</footer>