<nav id="nav" class="nav-primary hidden-md nav-vertical" style="width:89px;height:auto; ">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <br><br><br>
        <li class="dropdown-submenu">
            <br>
            <a data-ng-hide="!loggedUser" data-ng-show="perfiles" href="#!/grupos"><i class="fa fa-users fa-lg" ></i><span style="margin-left:-1px;">Perfiles</span></a>

        </li>
        <li class="dropdown-submenu">

            <a data-ng-hide="!loggedUser" data-ng-show="permisos" href="#!/modulos"><i class="fa fa-unlock-alt  fa-lg" ></i><span style="margin-left:-6px;">Permisos</span></a>
        </li>

        </li>
        <li class="dropdown-submenu">

            <a data-ng-hide="!loggedUser" data-ng-show="usuarioMod" href="#!/usuarios"><i class="fa fa-user  fa-lg" ></i><span style="margin-left:-4px">Usuarios</span></a>
        </li>

        <li class="dropdown-submenu">

            <a data-ng-hide="!loggedUser" data-ng-show="stock" href="#!/stock"><i class="fa fa-shopping-cart fa-lg"  ></i><span style="margin-left:-1px;">Stock</span></a>

        </li>

        <li class="dropdown-submenu">

            <a data-ng-hide="!loggedUser" data-ng-show="contactos" href="#!/contactos"><i class="fa fa-envelope fa-lg"  ></i><span style="margin-left:-6px;">Contacto</span></a>
        </li>

        <!--<li class="dropdown-submenu">
            <a href="#"><i class="fa fa-link fa-lg"></i><span>Others</span></a>
            <ul class="dropdown-menu">
                <li><a href="mail.html">Mail</a></li>
                <li><a href="calendar.html">Fullcalendar</a></li>
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="profile.html">Profile</a></li>
                 <li><a href="signin.html">Signin page</a></li>
                <li><a href="signup.html">Signup page</a></li>
                <li><a href="404.html">404 page</a></li>
            </ul>
        </li>-->
    </ul>
</nav>
<!-- / nav -->