<ol class="breadcrumb">
    
<li><a href="index.html">Home</a></li>
<li>App Templates</li>
<li>eCommerce</li>
<li class="active"><a href="app-store-product-column.html">Product Column</a></li>

</ol>
<div class="page-heading">
    <h1>Product Column</h1>
    <div class="options">
    <div class="btn-toolbar">
        <a href="#" class="btn btn-default"><i class="fa fa-fw fa-wrench"></i></a>
    </div>
</div>
</div>
<div class="container-fluid">
    
<div class="store">
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-col">
				<h3 class="product-name"><a href="#">Razer Deathadder Black Edition</a></h3>
				<img src="assets/demo/images/dabe.jpg" class="img-responsive">
					
				
				<div class="product-footer clearfix">
					<h3 class="mt0 mb0"><span class="product-price label label-danger pull-left">$199.00</span></h3>
					<a href="#" class="btn btn-sm btn-default pull-right add-to-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Add to cart</span></a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box box-col">
				<h3 class="product-name"><a href="#">Razer Naga</a></h3>
				<img src="assets/demo/images/naga.jpg" class="img-responsive">
					
				
				<div class="product-footer clearfix">
					<h3 class="mt0 mb0"><span class="product-price label label-danger pull-left">$299.00</span></h3>
					<a href="#" class="btn btn-sm btn-default pull-right add-to-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Add to cart</span></a>
				</div>
			</div>
		</div>

		
	</div>

</div> 

</div> <!-- .container-fluid -->
