<div class="container">
	<form name="form" role="form" style="margin-left:30%">
		<div class="row">
			<div class="col-md-6">
				<h2>Crear Grupo</h2>
			</div>
		</div>
		<br>
		<h4><i class="fa fa-fw fa-file-text-o"></i> Detalles del Grupo</h4>
		<hr>
		<div class="row">
			<div class="form-group col-xs-6">
				<label for="nombre">Nombre:</label>
				<input id="nombre" class="form-control" type="text" name="nombre" data-ng-model="object.name" required autofocus />
			</div>
            <br><br><br><br>
			<div class="form-group col-xs-6">
				<label for="descripcion">Descripcion:</label>
				<input id="descripcion" class="form-control pull-left" type="text" name="descripcion" data-ng-model="object.description" required />
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12 pull-right text-right">
				<a href="#!/grupos" class="btn btn-warning" type="button"><i class="fa fa-fw fa-backward"></i> Atrás</a>
				<button data-ng-disabled="form.$invalid" class="btn btn-success" data-ng-click="create()"><i class="fa fa-fw fa-save"></i> Guardar</button>
			</div>
		</div>
	</form>
</div>