<div class="home-content">
    <div class="recuadro">
        <i class="fa fa-mobile home-icons"></i>
        <p class="naranja sub-title">{{translation.VIEW.HOME.APP_TITTLE}}</p>
        <p class="info">{{translation.VIEW.HOME.APP_INFO}}</p>
    </div>
    <div class="recuadro">
        <i class="fa fa-cogs home-icons"></i>
        <p class="naranja sub-title">{{translation.VIEW.HOME.SOFT_TITTLE}}</p>
        <p class="info">{{translation.VIEW.HOME.SOFT_INFO}}</p>
    </div>
    <div class="recuadro">
        <i class="fa fa-tachometer home-icons"></i>
        <p class="naranja sub-title">{{translation.VIEW.HOME.OUT_TITTLE}}</p>
        <p class="info">{{translation.VIEW.HOME.OUT_INFO}}</p>
    </div>
</div>

