<form id="cambiar-password-modal" name="form" novalidate class="login-form">
	<div class="modal-body">
		<h4 class="text-center">CAMBIAR CONTRASEÑA</h4>
        <div class="form-group">
            <input type="password" class="form-control" name="oldPassword" data-ng-model="oldPassword" placeholder="Contraseña Actual" required >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="newPassword" data-ng-model="newPassword" placeholder="Nueva Contraseña" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="newPasswordRepeat" data-ng-model="newPasswordRepeat" placeholder="Repetir Nueva Contraseña" required>
        </div>
        <div class="form-group">
			<button class="btn btn-inverse" data-ng-click="changePassword()" >CONFIRMAR</button>

        </div>
		<div class="alert" data-ng-class="authError.class" data-ng-show="authError.message">{{authError.message}}</div>
	</div>
</form>
