<form id="cambiar-image-modal" name="form" novalidate class="login-form">
	<div class="modal-body">
		<h2 class="text-center">Seleccione imagen de perfil</h2>

    </div>
    <div flow-init="{target: url}"
         flow-files-submitted="$flow.upload()"
         flow-file-success="$file.msg = $message"
         flow-name="obj.flow">
        <img flow-img="$flow.files[0]" style="width:110px;height:auto;margin-right: 60px;
        margin-top: -10px;" class="pull-right" />
        <br>

        <div class="fileUpload btn btn-default">
            <span>Selecciona una imagen</span>
            <input type="file" flow-btn class="upload" onchange= "angular.element(this).scope().change()" >
        </div>
        <br><br>
        <table class="table table-hover table-bordered table-striped" flow-transfers>
            <thead>
            <tr>

                <th>Name</th>
                <th>Size</th>
                <th>Relative Path</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in transfers">

                <td>{{file.name}}</td>
                <td>{{file.size}}</td>
                <td>{{file.relativePath}}</td>
                <td>{{file.isComplete()}}</td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
			<center><button class="btn btn-success" data-ng-click="modalInstance.close()" data-ng-disabled="change">Actualizar</button></center>

        </div>
		<div class="alert" data-ng-class="authError.class" data-ng-show="authError.message">{{authError.message}}</div>
	</div>
</form>
